@keyframes animacao{
    from{color: transparent;}
    to{color: solid;}
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: auto;
    height: 80vh;
}

.home-texto {
    height: 20vh;
    width: 80vw;
    animation: animacao 1s ease-in-out;
}